{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- gallery -->
	<div class="gallery agile" id="gallery">
		<div class="container">
				<h3 class="heading">导师信息</h3>
			<div class="agile_gallery_grids w3-agile">
				<ul class="clearfix demo">
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/contact/v1.jpg' %}" alt=" " class="img-responsive" />
							<div class="p-mask">
									<h4>某某某</h4>
								<p>清华大学 博士 计算机科学与技术专业</p>
							</div>
						</div>
					</li>
				</ul>
			
			</div>
		</div>
	</div>
<!-- //gallery -->
{% include 'online.html' %}
{% endblock %}
