
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Lei Shi">
  <meta http-equiv="Cache-Control" content="o-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="csrf-token" content="1483780974##87f89328c5616669f00302a263fe9061bb852818">
	
		
        <title>全部 - 课程 - 实验楼</title>
		
	

    
<meta content="实验楼课程分为基础课和项目课，内容涵盖了Linux、Python、Java、C语言、Ruby、Android、IOS开发、大数据、信息安全等IT技术领域。" name="description">
<meta content="实验楼课程,IT培训课程,IT实训课程,IT在线课程,all" name="keywords">

    <meta content="实验楼,琛石科技" name="author">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="{% static 'bootstrap/css/class/font-awesome//4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/class/highlight.js/9.8.0/monokai-sublime.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/class/libs/bootstrap/3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/class/libs/katex/0.6.0/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/class/libs/videojs/5.11.7/video-js.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/class/dest/styles.css' %}">
	<style>
		@font-face {
			font-family: "lantingxihei";
			src: url("../fonts/FZLTCXHJW.TTF");
		}

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
		#invite-user .modal-body .form-label {
			margin-bottom: 16px;
			font-size:14px;
		}
		#invite-user .modal-body .form-invite {
			width: 80%;
			padding: 6px 12px;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
		#invite-user .modal-body .msg-modal-style {
			background-color: #7dd383;
			margin-top: 10px;
			padding: 6px 0;
			text-align: center;
			width: 100%;
		}
		#invite-user .modal-body .modal-flash {
			position: absolute;
			top: 53px;
			right: 74px;
			z-index: 999;
		}
		/* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>
	
    

	
    
</head>

<body>

<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/63/follow"
                data-unfollow-url="/courses/63/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="新手指南之玩转实验楼" src="https://dn-simplecloud.shiyanlou.com/ncn63.jpg">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="新手指南之玩转实验楼">新手指南之玩转实验楼</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                57973
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/1/follow"
                data-unfollow-url="/courses/1/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Linux 基础入门（新版）" src="https://dn-simplecloud.shiyanlou.com/ncn1.jpg">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Linux 基础入门（新版）">Linux 基础入门（新版）</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                85219
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/719/follow"
                data-unfollow-url="/courses/719/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Kali 渗透测试 - 后门技术实战（10个实验）" src="https://dn-simplecloud.shiyanlou.com/1480389303324.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Kali 渗透测试 - 后门技术实战（10个实验）">Kali 渗透测试 - 后门技术实战（10个实验）</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                101
                
			</span>
            
                <span class="course-bootcamp pull-right">训练营</span>
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/717/follow"
                data-unfollow-url="/courses/717/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Kali 渗透测试 - Web 应用攻击实战" src="https://dn-simplecloud.shiyanlou.com/1480389165511.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Kali 渗透测试 - Web 应用攻击实战">Kali 渗透测试 - Web 应用攻击实战</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                121
                
			</span>
            
                <span class="course-bootcamp pull-right">训练营</span>
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/721/follow"
                data-unfollow-url="/courses/721/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="使用OpenCV进行图片平滑处理打造模糊效果" src="https://dn-simplecloud.shiyanlou.com/1482113947345.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="使用OpenCV进行图片平滑处理打造模糊效果">使用OpenCV进行图片平滑处理打造模糊效果</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                60
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/729/follow"
                data-unfollow-url="/courses/729/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="使用 Python 解数学方程" src="https://dn-simplecloud.shiyanlou.com/1482807365470.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="使用 Python 解数学方程">使用 Python 解数学方程</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                69
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/713/follow"
                data-unfollow-url="/courses/713/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="跟我一起来玩转Makefile" src="https://dn-simplecloud.shiyanlou.com/1482215587606.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="跟我一起来玩转Makefile">跟我一起来玩转Makefile</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                298
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/698/follow"
                data-unfollow-url="/courses/698/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Kali 渗透测试 - 服务器攻击实战（20个实验）" src="https://dn-simplecloud.shiyanlou.com/1480386391850.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Kali 渗透测试 - 服务器攻击实战（20个实验）">Kali 渗透测试 - 服务器攻击实战（20个实验）</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                171
                
			</span>
            
                <span class="course-bootcamp pull-right">训练营</span>
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/702/follow"
                data-unfollow-url="/courses/702/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="手把手教你实现 Google 拓展插件" src="https://dn-simplecloud.shiyanlou.com/1482113981000.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="手把手教你实现 Google 拓展插件">手把手教你实现 Google 拓展插件</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                392
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/726/follow"
                data-unfollow-url="/courses/726/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="DVWA之暴力破解攻击" src="https://dn-simplecloud.shiyanlou.com/1482113522578.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="DVWA之暴力破解攻击">DVWA之暴力破解攻击</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                349
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/725/follow"
                data-unfollow-url="/courses/725/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Python3实现简单的FTP认证服务器" src="https://dn-simplecloud.shiyanlou.com/1482113485097.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Python3实现简单的FTP认证服务器">Python3实现简单的FTP认证服务器</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                598
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/724/follow"
                data-unfollow-url="/courses/724/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="SQLAlchemy 基础教程" src="https://dn-simplecloud.shiyanlou.com/1481689616072.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="SQLAlchemy 基础教程">SQLAlchemy 基础教程</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                348
                
			</span>
            
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/716/follow"
                data-unfollow-url="/courses/716/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="使用OpenCV&amp;&amp;C++进行模板匹配" src="https://dn-simplecloud.shiyanlou.com/1481511769551.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="使用OpenCV&amp;&amp;C++进行模板匹配">使用OpenCV&amp;&amp;C++进行模板匹配</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                347
                
			</span>
            
                
                <span class="course-money pull-right">会员</span>
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/715/follow"
                data-unfollow-url="/courses/715/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Metasploit实现木马生成、捆绑及免杀" src="https://dn-simplecloud.shiyanlou.com/1481512189119.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Metasploit实现木马生成、捆绑及免杀">Metasploit实现木马生成、捆绑及免杀</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                256
                
			</span>
            
                
                <span class="course-money pull-right">会员</span>
                
            
        </div>
    </a>
</div>

            
            


<div class="col-md-4 col-sm-6  course">
    <a class="course-box" href="show.html">
        <div class="sign-box">
            
            
            
            <i class="fa fa-star-o course-follow pull-right"
                data-follow-url="/courses/708/follow"
                data-unfollow-url="/courses/708/unfollow"  style="display:none"  ></i>
            
        </div>
        <div class="course-img">
            
            <img alt="Python 3 实现 Markdown 解析器" src="https://dn-simplecloud.shiyanlou.com/1480644410422.png">
            
        </div>
        
        <div class="course-body">
            <span class="course-title" data-toggle="tooltip" data-placement="bottom" title="Python 3 实现 Markdown 解析器">Python 3 实现 Markdown 解析器</span>
        </div>
        <div class="course-footer">
			<span class="course-per-num pull-left">
                <i class="fa fa-users"></i>
                
                745
                
			</span>
            
                
                <span class="course-money pull-right">会员</span>
                
            
        </div>
    </a>
</div>

            
        
        
        </div>
        

<nav class="pagination-container">
    <ul class="pagination">
        
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        
        
        
        <li class="active">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=1">1</a>
        </li>
        
        
        
        <li class="">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=2">2</a>
        </li>
        
        
        
        <li class="">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=3">3</a>
        </li>
        
        
        
        <li class="">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=4">4</a>
        </li>
        
        
        
        <li class="">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=5">5</a>
        </li>
        
        
        
        <li>
            <a href='#'>...</a>
        </li>
        
        
        
        <li class="">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=24">24</a>
        </li>
        
        
        
        <li class="">
            <a href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=25">25</a>
        </li>
        
        
        
        <li class="">
            <a aria-label="Next" href="/courses/?course_type=all&amp;tag=all&amp;fee=all&amp;page=2">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
        
    </ul>
</nav>





{% include 'online.html' %}
{% endblock %}
            
        
	
