<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>菜鸟教程(runoob.com)</title> 
</head> 
<body>

<div id="header">
<h1>简易思在线编译</h1>
</div>

<div id="nav">
题目类型<br>
具体题目内容<br>
输入输出样例<br>
</div>

<div id="section">
<h1>我Coding 我快乐</h1>
<p>
成功根本没有秘诀可言，如果有的话，就有两个：第一个就是坚持到底，永不言弃；第二个就是当你想放弃的时候，回过头来看看第一个秘诀，坚持到底，永不言弃。</p>
<iframe src="http://www.anycodes.cn/en/" width="800" height="1000">
  <p>您的浏览器不支持  iframe 标签。</p>
</iframe>
</div>

<div id="footer">
Copyright W3School.com.cn
</div>

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:300px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>
</body>
</html>
