{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="container">

<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="{% static 'images/main.jpg' %}" height="800" width="800" alt="First slide">
		</div>
		<div class="item">
			<img src="{% static 'images/main1.jpg' %}" height="800" width="800" alt="First slide">
		</div>
		<div class="item">
			<img src="{% static 'images/main2.jpg' %}" height="800" width="800" alt="First slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" 
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" 
	   data-slide="next">&rsaquo;</a>
     <img  />
 </div>
<div style="width:1000px; height:500px;">为什么选择我们
<p><a href="#">拥有良好的导师团队，全部来自985，211高校硕士和博士</a></p>
<p><a href="#">严格的质量把控</a></p>
<p><a href="#">专业的1对1 课程培训</a></p>
<p><a href="#">先进的鼓励教学模式</a></p>
<p><a href="#">面试通过率高达80%以上</a></p>
</div>
{% include 'question.html' %}
{% endblock %}
