<div class="coursecont">
<div class="coursepic">
	<h3 class="righttit">全部分类</h3>


<div style="width:980px;margin:20px auto 0 auto;">

	<div class="list-screen">
		
		<div style="padding:10px 30px 10px 10px;">
			<div class="screen-address">
				<div class="list-tab">
					<div id="demo1" class="clearfix">
						<div class="jiud-name">试题形式</div>
						<div class="ui-tab-container">
							<ul class="clearfix ui-tab-list">
								<li>笔试</li>
								<li>机试</li>
								<li class="ui-tab-active">真题</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="screen-term">
				<div class="selectNumberScreen">
					<div id="selectList" class="screenBox screenBackground">
						<dl class="listIndex">
							<dt>难度</dt>
							<dd>
								<label><a href="javascript:;" attrval="不限">不限</a></label>
								<label><input name="radio2" type="radio" value="" /><a href="javascript:;" values2="普及组" values1="普及组" attrval="普及组">普及组</a></label>
								<label><input name="radio2" type="radio" value="" /><a href="javascript:;" values2="提高组" values1="提高组" attrval="提高组">提高组</a></label>
					
							</dd>
						</dl>
						<dl class="listIndex">
							<dt>考题类型</dt>
							<dd>
								<label><a href="javascript:;" attrval="不限">不限</a> </label>
								<label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;">单项选择题</a></label>
								<label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;">不定项选择题</a></label>
								<label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;">问题求解</a></label>
								<label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;">阅读程序写结果</a></label>
								<label><input name="checkbox2" type="checkbox" value="" /><a href="javascript:;">完善程序</a></label>
								<span class="more"><em class="open"></em>更多</span>
							</dd>
						</dl>
						<dl class="listIndex more-none" style="display:none;border:none">
						<dt>知识类型</dt>
						<dd>
							<label><a href="javascript:;" attrval="不限">不限</a></label>
							<form action="" method="get"> 
								<label><input name="checkbox3" type="checkbox" value="" /><a href="javascript:;">计算机理论知识</a></label>
								<label><input name="checkbox3" type="checkbox" value="" /><a href="javascript:;">数据结构</a> </label> 
								<label><input name="checkbox3" type="checkbox" value="" /><a href="javascript:;">基本算法</a> </label>  
								<label><input name="checkbox3" type="checkbox" value="" /><a href="javascript:;">数学基础</a> </label>  
							</form> 
						</dl>
					</div>
				</div>   
			</div>
		</div>
	
		<div class="hasBeenSelected clearfix">
			<span id="time-num"><font>208000</font>道题</span>
			<div style="float:right;" class="eliminateCriteria">【清空全部】</div>
			<dl>
				<dt>已选条件：</dt>
				<dd style="display:none" class="clearDd">
					<div class="clearList"></div>
				</dd>
			</dl>
		</div>
		
	</div>

</div>
    <div class="clearh"></div>
    
</div>
