{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- InstanceBeginEditable name="EditRegion1" -->
<link rel="stylesheet" href="{% static 'bootstrap/css/question/article.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/question/list.css' %}"/>
<script type="text/javascript" src="{% static 'bootstrap/js/question/jquery-1.5.1.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/question/ui.tab.js' %}"></script>
<div class="coursecont">
<div class="coursepic">
	<h3 class="righttit">全部分类</h3>
    <span class="bread nob">
        <a class="fombtn cur" href="articlelist.html">全部分类</a>
        <a class="fombtn" href="articlelist.html">笔试</a>
        <a class="fombtn" href="articlelist.html">机试</a>
        <a class="fombtn" href="articlelist.html">真题</a>
    </span>
                {% include 'question-filter.html' %}
    <div class="clearh"></div>
    
</div>
<div class="clearh"></div>
<div class="coursetext">
    <div class="articlelist">
        <span >题号： 123456 </span>
        <hr width="15%" style = "margin : 5px;">
        <div class="panel panel-default">
	    <div class="panel-heading">
                 以下断电之后仍能保存数据的是：
            </div>
	    <div class="panel-body">
                 <span style="margin:2%;">A 寄存器</span>
                 <span style="margin:2%;">B ROM</span>
                 <span style="margin:2%;">C RAM</span>
                 <span style="margin:2%;">D 高速缓存</span>
	    </div>
        </div>
        <p class="artilabel">
    	    <a class="ask_label" href="article.html">答案解析</a>
        </p>
        <div class="clearh"></div>
    </div>

    <div class="articlelist">
        <span >题号： 123456 </span>
        <hr width="15%" style = "margin : 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                 以下断电之后仍能保存数据的是：
            </div>
            <div class="panel-body">
                 <span style="margin:2%;">A 寄存器</span>
                 <span style="margin:2%;">B ROM</span>
                 <span style="margin:2%;">C RAM</span>
                 <span style="margin:2%;">D 高速缓存</span>
            </div>
        </div>
        <p class="artilabel">
            <a class="ask_label" href="article.html">答案解析</a>
        </p>
        <div class="clearh"></div>
    </div>

    <div class="articlelist">
        <span >题号： 123456 </span>
        <hr width="15%" style = "margin : 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                 以下断电之后仍能保存数据的是：
            </div>
            <div class="panel-body">
                 <span style="margin:2%;">A 寄存器</span>
                 <span style="margin:2%;">B ROM</span>
                 <span style="margin:2%;">C RAM</span>
                 <span style="margin:2%;">D 高速缓存</span>
            </div>
        </div>
        <p class="artilabel">
            <a class="ask_label" href="article.html">答案解析</a>
        </p>
        <div class="clearh"></div>
    </div> 

    <div class="articlelist">
        <span >题号： 123456 </span>
        <hr width="15%" style = "margin : 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                 以下断电之后仍能保存数据的是：
            </div>
            <div class="panel-body">
                 <span style="margin:2%;">A 寄存器</span>
                 <span style="margin:2%;">B ROM</span>
                 <span style="margin:2%;">C RAM</span>
                 <span style="margin:2%;">D 高速缓存</span>
            </div>
        </div>
        <p class="artilabel">
            <a class="ask_label" href="article.html">答案解析</a>
        </p>
        <div class="clearh"></div>
    </div>

    <div class="articlelist">
        <span >题号： 123456 </span>
        <hr width="15%" style = "margin : 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                 以下断电之后仍能保存数据的是：
            </div>
            <div class="panel-body">
                 <span style="margin:2%;">A 寄存器</span>
                 <span style="margin:2%;">B ROM</span>
                 <span style="margin:2%;">C RAM</span>
                 <span style="margin:2%;">D 高速缓存</span>
            </div>
        </div>
        <p class="artilabel">
            <a class="ask_label" href="article.html">答案解析</a>
        </p>
        <div class="clearh"></div>
    </div>

    <div class="articlelist">
        <span >题号： 123456 </span>
        <hr width="15%" style = "margin : 5px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                 以下断电之后仍能保存数据的是：
            </div>
            <div class="panel-body">
                 <span style="margin:2%;">A 寄存器</span>
                 <span style="margin:2%;">B ROM</span>
                 <span style="margin:2%;">C RAM</span>
                 <span style="margin:2%;">D 高速缓存</span>
            </div>
        </div>
        <p class="artilabel">
            <a class="ask_label" href="article.html">答案解析</a>
        </p>
        <div class="clearh"></div>
    </div>


	<div class="clearh" style="height:20px;"></div>
	<span class="pagejump">
    	<p class="userpager-list">
       	   <a href="#" class="page-number">首页</a>
           <a href="#" class="page-number">上一页</a>
           <a href="#" class="page-number">1</a>
           <a href="#" class="page-number pageractive">2</a>
           <a href="#" class="page-number">3</a>
            <a href="#" class="page-number">...</a>
            <a href="#" class="page-number">10</a>
           <a href="#" class="page-number">下一页</a>
           <a href="#" class="page-number">末页</a>
        </p>
    </span>
    <div class="clearh" style="height:10px;"></div>
</div>

<div class="courightext">
<div class="ctext">
    <div class="cr1">
    <h3 class="righttit">课程目录</h3>
    <div class="gonggao">
              <!--  {% include 'question-navMenu.html' %}-->
    </div>
    </div>
</div>

<div class="ctext">
    <div class="cr1">
	<h3 class="righttit">推荐课程</h3>
    	<div class="teacher">
    		<div class="teapic">
        		<a href="#"  target="_blank"><img src="{% static 'bootstrap/images/question/c1.jpg' %}" height="60" title="财经法规与财经职业道德' %}"></a>
        		<h3 class="courh3"><a href="#" class="ask_link" target="_blank">财经法规与财经职业道德</a></h3>
    		</div>
    	<div class="clearh"></div>
    <div class="teapic">
        <a href="#"  target="_blank"><img src="{% static 'bootstrap/images/question/c2.jpg' %}" height="60" title="财经法规与财经职业道德' %}"></a>
        <h3 class="courh3"><a href="#" class="ask_link" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
    <div class="teapic">
        <a href="#"  target="_blank"><img src="{% static 'bootstrap/images/question/c3.jpg' %}" height="60" title="财经法规与财经职业道德' %}"></a>
        <h3 class="courh3"><a href="#" class="ask_link" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
</div>

    </div>
</div>
<div class="ctext">
    <div class="cr1">
        <h3 class="righttit">推荐课程</h3>
        <div class="teacher">
                <div class="teapic">
                        <a href="#"  target="_blank"><img src="{% static 'bootstrap/images/question/c1.jpg' %}" height="60" title="财经法规与财经职业道德' %}"></a>
                        <h3 class="courh3"><a href="#" class="ask_link" target="_blank">财经法规与财经职业道德</a></h3>
                </div>
        <div class="clearh"></div>
    <div class="teapic">
        <a href="#"  target="_blank"><img src="{% static 'bootstrap/images/question/c2.jpg' %}" height="60" title="财经法规与财经职业道德' %}"></a>
        <h3 class="courh3"><a href="#" class="ask_link" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
    <div class="teapic">
        <a href="#"  target="_blank"><img src="{% static 'bootstrap/images/question/c3.jpg' %}" height="60" title="财经法规与财经职业道德' %}"></a>
        <h3 class="courh3"><a href="#" class="ask_link" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
</div>

    </div>
</div>
</div>


<div class="clearh"></div>
</div>
<!-- InstanceEndEditable -->


{% include 'online.html' %}
{% endblock %}
